<h3 style="text-align: center;">Show</h1>

<%= link_to "âœ Edit task" , edit_task_path %>

<h1><%= @task.title %></h1>

<h4><%= @task.details %></h4>

<h5><%= link_to "Back to list", tasks_path %></h5>
